* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
}

html {
    --primaryColour: #3A3845;
}

.h1,
h2,
h3 {
    font-family: "EB Garamond", serif;
}

.container {
    width: calc(100% - 20%);
    margin: 0 auto;
}

.row {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header {
    width: 100%;
    background-color: #34b0e9;

}

.burgerIco {
    width: 30px;
    display: none;
}

ul {
    list-style: none;
}

.list ul {
    display: flex;
    gap: 60px;
    color: var(--primaryColour);
}

.icons ul {
    display: flex;
    gap: 24px;

}

.collections {
    color: var(--primaryColour);

}
.collection {

    text-align: center;
    width: calc((100% - 90px) / 4);
}

/* .rows{
    padding: 20px 0;
    display: grid;
    /* grid-template-columns: repeat(4,4fr); */
/* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 30px;
} */

 

.collection img {
    width: 100%;
    filter: grayscale(.9);
}

.collection:hover img {
    filter: grayscale(0);
}

.bestSeller {
    text-align: center;
}

.bestSeller h2 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.bestSeller .row {
    gap: 30px;
}

.bestSeller .items {
    text-align: left;
    /* width: calc(( 100% - 90px ) / 4); */
    width: 200px;
    flex-grow: 1;
    flex-shrink: 0;
}

.items img {
    width: 100%;
}

.bestSeller .itemContent {
    margin-top: 24px;

}

.bestSeller h3 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 6%;
    text-transform: uppercase;
    margin-bottom: 12px;

}

.bestSeller .price {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 24px;
}

.bestSeller .descreption {
    color: #807F86;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    margin-bottom: 58px;
}

.AddToCart {
    padding: 15px 18px;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 10%;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .8s, color .3s .8s;
}

.items:hover .AddToCart {
    background-color: #34b0e9;
    color: #ffffff;

}


@media screen and (min-width:0) and (max-width:1192px) {
    /* .bestSeller .items{width: calc(( 100% - 60px ) / 3);} */
}

@media screen and (min-width:0) and (max-width:1122px) {
    .list {
        display: none;

    }

    .icons {
        display: none;
    }

    .burgerIco {
        display: flex;
    }

    .collection {
        width: calc((100% - 30px) / 2);

    }

    /* .bestSeller .items{ 
    width: calc(( 100% - 30px ) / 2);
} */

}


@media screen and (min-width:0) and (max-width:564px) {
    .collection {
        width: 100%;
    }

    /* .bestSeller .items{ 
    width: 100%;
} */

}